@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inter-bold';
    src: url('/fonts/inter-bold.woff') format('woff');
    /* Additional font properties can be added here */
}

body {
    margin: 0;
    font-family: 'fjalla one', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: linear-gradient(to bottom, #00b2ca, #fbd1a2); */
}

.word-1 {
    transform: translateY(0);
    font-size: 200px;
}
.line-wrapper {
    overflow: hidden;
}

.my-name {
    color: purple;
}

/* Hide the scrollbar for webkit-based browsers */
::-webkit-scrollbar {
    width: 0.5em; /* Width of the scrollbar */
    background-color: rgba(0, 0, 0, 0); /* Set the background color to transparent */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Set the thumb color to transparent */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); /* Set the track color to transparent */
}
